# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
tfplan
tfplan.*
plan
plan.*

## Ignore override files as they are usually used to
## override resources locally and so are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Artefacts
*.log

# OS Rubbish
.DS_STORE
